<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Books Details</title>
</head>
<body>
    <div class="container">
        <h1>{{author.first_name}} {{author.last_name}}</h1>
        <div class="row">
            <div class="col-4">
                <p>ID</p>
            </div>
            <div class="col-8">
                <p>{{author.id}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p>NOTES</p>
            </div>
            <div class="col-8">
                <p>{{author.notes}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>BOOKS</p>
                <ul>
                    {% for book in author.books.all %}
                        <li>{{book.title}}</li>
                    {% endfor %}
                </ul>
                <form action="{{author.id}}/assign_book" method='POST'>
                    {% csrf_token %}
                    <div class="form-group row">
                        <select name="book" class="col-4 form-control">
                            <option selected disabled>-select a book-</option>
                            {% for book in books %}
                                <option value={{book.id}}>{{book.title}}</option>
                            {% endfor %}
                        </select>
                        <div class="col-4">
                            <input type="submit" value="Assign Book" class="btn btn-info">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>